<mat-toolbar class="footer" style="background-color: #009e9e;">
    <div class="d-flex row justify-content-center align-items-center w100">
        <a href="https://github.com/ellamaolson">
            <button mat-button>
                <img src="https://github.com/fluidicon.png" style="max-height: 32px; max-width: 32px" />
            </button>
        </a>
        <a href="https://twitter.com/elanathellama">
            <button mat-button class="transparent-button">
                <img src="../../assets/images/Twitter_Social_Icon_Circle_Color.png" style="max-height: 32px; max-width: 32px" />
            </button>
        </a>
        <a href="https://www.linkedin.com/in/elana-olson-96853892/">
            <button mat-button class="transparent-button">
                <img src="../../assets/images/LI-In-Bug.png" style="max-height: 32px; max-width: 32px" />
            </button>
        </a>
    </div>
</mat-toolbar>
