<div class="row">
  <div class="column little-padding"></div>
  <div class="double-column little-padding">
    <img src="./assets/images/elana_prof.jpg" class="center-page-img row">
    <h2>Hi, I'm Elana!</h2>
    <p>
      I'm 23 years old and am a graduating senior at San Jose State University, getting my degree in
      Software Engineering. I love cooking and experimenting with recipes, knitting scarves
      for my family and friends, exploring the world, and adventuring in the outdoors.
    </p>
    <p>
      My journey into software engineering began when I was 10. I joined the techbridge club
      where I learned about STEM and built cool projects like my own home phone. I eagerly joined
      the Engineering program at my high school and learned even more about various technical
      careers. Entering college, I thought I was going to become a civil engineer, but soon
      realized I wanted a job where I could actually build something from start to finish in a
      relatively short period of time. I moved into a "hacker house" where I lived with 11
      software engineers who let me inquire into their daily routines at work and why they had chosen
      software. This is where I decided to pursue software engineering. Five years later, three
      software internships, and an slightly greater understanding of adulthood, I have become
      a software engineer!
    </p>
    <p>
      So this is really where my journey begins.
    </p>
  </div>
  <div class="column little-padding"></div>
</div>
