<div class="row">
  <div class="column little-padding"></div>
  <div class="double-column little-padding">
    <img src="./assets/images/elana_prof.jpg" class="center-page-img row">
    <h2>Hi, I'm Elana!</h2>
    <p>
      I'm 23 years old and am a graduating senior at San Jose State University, getting my degree in
      Software Engineering. I love cooking and experimenting with recipes, knitting scarves
      for my family and friends, exploring the world, and adventuring in the outdoors.
    </p>
    <p>
      My journey into software engineering began when I was 10. I joined the techbridge club
      where I learned about STEM and built cool projects like my own home phone. I eagerly joined
      the Engineering program at my high school and learned even more about various technical
      careers. Entering college, I thought I was going to become a civil engineer, but soon
      realized I wanted a job where I could actually build something from start to finish in a
      relatively short period of time. I moved into a "hacker house" where I lived with 11
      software engineers who let me inquire into their daily routines at work and why they had chosen
      software. This is where I decided to pursue software engineering. Five years later, three
      software internships, and an slightly greater understanding of adulthood, I have become
      a software engineer!
    </p>
    <p>
      So this is really where my journey begins.
    </p>
  </div>
  <div class="column little-padding">
    <h2 class="little-margin">My Articles</h2>
    <mat-card class="little-margin">
      <mat-card-header>
        <mat-card-title style="color: #009e9e">2 New Tools to help with AngularJS to Angular Migrations</mat-card-title>
        <mat-card-subtitle>
          <a href="https://blog.angular.io/migrating-to-angular-fc9618d6fb04">Read the article here</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Many developers are embarking on the migration journey of bringing AngularJS applications
          up to modern-day web development standards with Angular, and there are a lot of approaches. 
          It can be challenging to know which upgrading path is right and where to find guidance on 
          how to migrate, but it doesn’t have to be...
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="little-margin">
      <mat-card-header>
        <mat-card-title style="color: #009e9e">How to create an Angular app in no time</mat-card-title>
        <mat-card-subtitle>
          <a href="https://medium.com/@elanaolson/create-an-angular-app-in-no-time-2ca89c734dd2">Read the article here</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          From zero to deployment, we will cover how to quickly create an Angular application. 
          Whether you are learning Angular for the first time, teaching your team Angular, 
          or searching for a fast guide to re-jog your memory, this guide is meant for you...
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="little-margin">
      <mat-card-header>
        <mat-card-title style="color: #009e9e">Deploying an Angular app to Github Pages</mat-card-title>
        <mat-card-subtitle>
          <a href="https://medium.com/@elanaolson/deploying-a-personal-website-to-github-pages-da2af6167f8b">Read the article here</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Github Pages allows you to host your own personal or project website for free! 
          Though you cannot run a large business off of it, you can host static websites
           built with HTML, CSS, and JavaScript. We will take a look at how to deploy an 
           Angular application as your personal website on Github Pages...
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
