<div class="row">
    <h2 class="center-item">Articles</h2>
</div>
<div class="row">
  <div class="column little-padding">
    <mat-card class="little-margin scroll-card">
      <mat-card-header>
        <a href="https://medium.com/@elanaolson/create-an-angular-app-in-no-time-2ca89c734dd2">
          <mat-card-title style="color: #009e9e; margin-bottom: 30px;">
            How to create an Angular app in no time
          </mat-card-title>
        </a>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="/assets/images/angular_tree.png" alt="Tree diagram of Angular apps">
        <p>
          From zero to deployment, we will cover how to quickly create an Angular application.
          Whether you are learning Angular for the first time, teaching your team Angular,
          or searching for a fast guide to re-jog your memory, this guide is meant for you...
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column little-padding">
    <mat-card class="little-margin scroll-card">
      <mat-card-header>
        <a href="https://medium.com/@elanaolson/deploying-a-personal-website-to-github-pages-da2af6167f8b">
          <mat-card-title style="color: #009e9e; margin-bottom: 30px;">
            Deploying an Angular app to Github Pages
          </mat-card-title>
        </a>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="/assets/images/rocket.jpeg" alt="Deploying to Github Pages">
        <p>
          Github Pages allows you to host your own personal or project website for free!
          Though you cannot run a large business off of it, you can host static websites
          built with HTML, CSS, and JavaScript. We will take a look at how to deploy an
          Angular application as your personal website on Github Pages...
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column little-padding">
    <mat-card class="little-margin scroll-card">
      <mat-card-header>
        <a href="https://blog.angular.io/migrating-to-angular-fc9618d6fb04">
          <mat-card-title style="color: #009e9e; margin-bottom: 30px;">
            2 New Tools to help with AngularJS to Angular Migrations
          </mat-card-title>
        </a>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="/assets/images/ngma_gif.gif" alt="ngMigration Assistant gif">
        <p>
          Many developers are embarking on the migration journey of bringing AngularJS applications
          up to modern-day web development standards with Angular, and there are a lot of approaches.
          It can be challenging to know which upgrading path is right and where to find guidance on
          how to migrate, but it doesn’t have to be...
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>